body{
    box-sizing: border-box;
    font-family: serif;
    /* font-weight: bold; */
}
header{
    text-align: center;
    color: white;
    padding-top:17%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    padding: 2px;
    margin: 5px;
}
#mouse{
    /* padding-top: 220px; */
    padding-top: 14%;
    animation: bounce 2s infinite;
}
@keyframes bounce {
    5%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    10% {
      transform: translateY(-50px);
    }
    50% {
        transform: translateY(-50px);
    }
    10% {
        transform: translateY(-50px);
    }
    10% {
      transform: translateY(-50px);
    }
}
.what-we-do{
    text-align: center;
    padding:20px 0 20px 40px;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-weight: 700;
    
}
.col-md-4 > #design, #development, #product{
    display: none;
}
  
h2, h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
}
.about{
    text-align: center;
    height: 270px;
    width: 69%;
    margin: auto;
    line-height: 200%;
}

.services{
    color: white;
    height: 400px;
    padding-top: 150px;
    text-align: center;
    margin: auto;
    line-height: 300%;
    font-weight: inherit;
}
.portfolio{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-left: 225px;
    margin-right: 215px;
   
}
.col-md-3 img{
    padding-top: 20px;
    max-width: 100%;
    max-height: 100%;
}
#overlay, #overlay2, #overlay3, #overlay4, #overlay5, #overlay6, #overlay7, #overlay8{
    display: none;
    border: 2px solid white;
    padding: 5px;
    background-color:rgba(0,0,0,0.8);
    position: absolute;
    top: 9%;
    left: 4%;
    color: white;
    padding-top: 10%;
    padding-left: 30px;
    padding-right: 50%;
    object-fit: cover;
    font-weight: 1000;
    font-size: 1.7em;
    width: 92%;
    height: 92%;
    outline: 3px solid white;
    outline-offset: -17px;
}
.contacts{
    color: white;
    height: 500px;
    background-position: center center;
    
} 
#name, #email{
    width: 47%;
    margin-bottom: 1.5%;
    margin-right: 1%;
    background-color: transparent;
    border: 2px solid white;
}
#comment{
    width: 93%;
    margin-left: 2% ;
    background-color: transparent;
    height: 300px;
    border: 2px solid white;
}
::placeholder{
    color: white;
}
form{
    text-align: center;
    margin: auto;
    width: 60%;
    padding-top: 2%;
}
    
input[type=submit] {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.social ul{
    list-style: none;
    text-align: center;
    display: inline;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.social li:hover{
    animation: wobble 2s infinite;

}
footer{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: 200;
}
@keyframes wobble {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(10);
    }
    10% {
      transform: translateY(-10px);
    }
    20% {
      transform: translateY(-10px);
    }
}